.NavBar{
    display: flex;
    width: 100%;
    position: fixed;
    list-style:none ;
    background-color: rgb(104, 12, 12);
    padding: 10px;
    justify-content: space-between;
    z-index: 5;
}

.listaNavBar{
    display: flex;
    list-style:none ;
    margin:0;
}
.NavBarItem{
    padding-left: 40px;
    padding-top: 10px;
    color:white;
    text-decoration:none;
    font-size: 20px;
    display: flex;
}
.NavBarItem:hover{
    color:#FEBA56;
}
.NavBarItemBrand{
    padding: 15px;
    color:white;
    text-decoration:none;
    font-size: 30px;
  
}